// Colors
$black: #000000;
$white: #ffffff;

$body-color: #FAFBFF;
$menu-color: #9197B3;
$active-menu: #5932EA;

$decoration-color-table: #B5B7C0;
$decoration-color: #16C098;

$status-active: rgba(22, 192, 152, 0.38);
$border-active: #00B087;
$status-inactive: #FFC5C5;
$border-inactive: #DF0404;

$search-background: #F9FBFF;
