body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #000000;
  background-color: #FAFBFF;
}
body.js-active {
  overflow: hidden;
}

.wrapper-container {
  max-width: 100%;
  width: 67.2%;
  margin-left: calc(306px + 4.931vw);
}
@media (max-width: 1024px) {
  .wrapper-container {
    width: 100%;
    margin-left: 0;
  }
}

.output {
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 51px;
}

.section {
  padding: 40px;
}
@media (max-width: 1024px) {
  .section {
    padding: 40px 15px 15px;
  }
}

/* Menu style */
.menu {
  height: 100%;
  position: fixed;
  width: 306px;
  background-color: #ffffff;
  box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  padding: 36px 28px 76px;
  display: flex;
  flex-flow: column;
  gap: 4.44vh;
}
@media (max-width: 1024px) {
  .menu {
    position: unset;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    flex-flow: unset;
    align-items: center;
    gap: 20px;
  }
}
.menu__logo h1 {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  padding: 0 4px 0 8px;
}
@media (max-width: 500px) {
  .menu__logo h1 {
    display: none;
  }
}
.menu__logo h1 span {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #838383;
}
@media (max-width: 1024px) {
  .menu__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
}
.menu__logo-container {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-flow: column;
  gap: 2.77vh;
  flex: 1;
}
@media (max-width: 1024px) {
  .menu__list {
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 80px 15px 0 15px;
    transition: all 0.5s ease 0s;
    z-index: 9;
  }
  .menu__list.js-active {
    top: 0;
  }
}
.menu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9197B3;
  padding: 11px 8px 11px 11px;
}
.menu__link:hover .menu__icon-arrow {
  transition: transform 0.3s;
  transform: translateX(-5px);
}
.menu__link.active {
  background-color: #5932EA;
  border-radius: 8px;
}
.menu__link.active .menu__icon-block {
  color: #ffffff;
}
.menu__link.active .menu__icon-block .menu__icon {
  fill: #ffffff;
  stroke: #ffffff;
}
.menu__link.active .menu__icon-arrow {
  stroke: #ffffff;
}
.menu__icon-block {
  display: flex;
  align-items: center;
  gap: 14px;
}
.menu__icon {
  fill: #9197B3;
  stroke: #9197B3;
  width: 24px;
  height: 24px;
}
.menu__icon-arrow {
  stroke: #9197B3;
  width: 10px;
  height: 10px;
  transition: transform 0.3s;
}
.menu__account {
  display: flex;
  align-items: center;
  gap: 12px;
}
.menu__account-img {
  width: 42px;
  height: 42px;
  border-radius: 100px;
  overflow: hidden;
  background-image: url("../images/image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media (max-width: 1024px) {
  .menu__account-img {
    width: 28px;
    height: 28px;
  }
}
.menu__account-info p {
  letter-spacing: 0.01em;
}
@media (max-width: 500px) {
  .menu__account-info p {
    display: none;
  }
}
.menu__account-info span {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}
@media (max-width: 500px) {
  .menu__account-info span {
    display: none;
  }
}
.menu__burger {
  display: none;
}
@media (max-width: 1024px) {
  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
  }
  .menu__burger.js-active:before {
    transform: rotate(45deg);
    bottom: 9px;
  }
  .menu__burger.js-active:after {
    transform: rotate(-45deg);
    top: 9px;
  }
  .menu__burger.js-active span {
    transform: scale(0);
  }
  .menu__burger:before, .menu__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease 0s;
  }
  .menu__burger:after {
    top: 0;
  }
  .menu__burger:before {
    bottom: 0;
  }
  .menu__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.5s ease 0s;
  }
}

/* Customer style */
.customers {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 30px 44px 40px 38px;
  display: flex;
  flex-flow: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .customers {
    padding: 25px 25px;
    gap: 25px;
  }
}
.customers__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
@media (max-width: 768px) {
  .customers__top {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.customers__top-left {
  display: flex;
  flex-flow: column;
  gap: 7px;
}
.customers__form {
  z-index: 0;
}
.customers__title {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}
.customers__subtitle {
  letter-spacing: -0.01em;
  color: #16C098;
}
.customers__top-right {
  width: 216px;
  position: relative;
}
@media (max-width: 768px) {
  .customers__top-right {
    width: 100%;
  }
}
.customers__search {
  width: 100%;
  padding: 10px 15px 10px 40px;
  background-color: #F9FBFF;
  border: unset;
  border-radius: 10px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #000000;
  z-index: 0;
}
.customers__search::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}
.customers__search:focus-visible {
  outline: none;
}
.customers__search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translate(50%, -50%);
}
.customers__main {
  display: flex;
  flex-flow: column;
  gap: 32px;
}

/* Pagination style */
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .pagination {
    flex-flow: column;
    gap: 20px;
  }
}
.pagination p {
  color: #B5B7C0;
}
@media (max-width: 768px) {
  .pagination p {
    text-align: center;
  }
}
.pagination__list {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 768px) {
  .pagination__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.pagination__item {
  font-size: 12px;
  line-height: 1;
  color: #404B52;
  width: 25px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  cursor: pointer;
}
.pagination__item.active {
  background-color: #5932EA;
  color: #ffffff;
}
.pagination__icon {
  width: 8px;
  height: 12px;
}
.pagination__prev, .pagination__next {
  width: 26px;
  height: 24px;
}
.pagination__next .pagination__icon {
  transform: rotate(-180deg);
}

/* Table style */
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
.table__active {
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  border-radius: 4px;
  padding: 4px 0;
  width: 80px;
  text-align: center;
  color: #008767;
}
.table__inactive {
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
  width: 80px;
  padding: 4px 0;
  text-align: center;
  color: #DF0404;
}
.table tr {
  border-bottom: 1px solid #EEEEEE;
}
.table tr:first-child {
  border-top: none;
  background-color: unset;
  color: #fff;
}
.table th {
  text-align: left;
  letter-spacing: -0.01em;
  color: #B5B7C0;
  padding-bottom: 14px;
  display: table-cell;
}
.table th:last-child {
  text-align: center;
}
.table td {
  color: #292D32;
  padding: 20px 0;
  display: table-cell;
}
.table td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

/* Media for table */
@media (max-width: 768px) {
  .table thead {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .table tbody tr:first-child {
    padding-top: 0;
  }

  .table tr {
    display: block;
  }

  .table td, .table td:last-child {
    -webkit-column-gap: 3.16vw;
    -moz-column-gap: 3.16vw;
    column-gap: 3.16vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left !important;
  }

  .table tbody tr {
    padding-top: 30px;
  }

  .table tbody td:before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    padding-right: 1.78em;
  }
}

/*# sourceMappingURL=style.css.map */
